---
import Marquee from "@/components/widgets/Marquee.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import type { Section } from "@/types";
import { markdownify } from "@/lib/utils/textConverter";
import type { TypeOf } from "astro:schema";
import type { marqueeConfig } from "@/content.config";

// Type for this section data
export type sectionType = Section & {
  marquee?: TypeOf<typeof marqueeConfig>;
  list?: string[];
};
type Props = {
  content?: sectionType;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "about-banner", Astro.currentLocale)
)?.data as sectionType;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as sectionType;

// Extracting required values from 'content' object
let {
  enable = true,
  title,
  description,
  list,
  limit,
  marquee,
} = actualContent as sectionType;

// Limit the number of items to be displayed
list = limit && list ? list.slice(0, limit as number) : list;

// Dynamically add text-highlight svg image to the title
const rawSvgs = import.meta.glob("/src/assets/images/**/*.svg", {
  query: "raw",
  import: "default",
});
const svgImage = await rawSvgs["/src/assets/images/text-highlight.svg"]();
const markdownTitle = await markdownify(title || "");
const formattedTitle = markdownTitle.replace(
  "<strong>",
  `<strong class='match-brand-color'>${svgImage}`,
);
---

{
  enable && (
    <section class="overflow-hidden">
      <div class="container">
        <div class="flex flex-wrap items-center justify-between gap-6 lg:flex-nowrap">
          <div class="max-w-xl" data-aos="fade-up-sm">
            {title && (
              <h2
                class="text-h3 has-text-highlight text-inherit"
                set:html={formattedTitle}
              />
            )}
          </div>
          {description && (
            <p
              data-aos="fade-up-sm"
              data-aos-delay="200"
              set:html={markdownify(description)}
              class="max-w-md opacity-80 xl:max-w-xl"
            />
          )}
        </div>
      </div>
      {list && marquee && (
        <div
          class="relative mt-16 flex justify-center overflow-x-hidden md:mt-32"
          data-aos="fade-up-sm"
          data-aos-delay="300">
          <Marquee marqueeElements={list.length} {...marquee}>
            {list.map((item, index) => (
              <div
                class:list={[
                  "max-h-full min-w-(--marquee-element-width-responsive) px-4 md:min-w-(--marquee-element-width)",
                ]}>
                <OptimizedImage
                  class:list={[
                    "max-h-full! w-full object-cover",
                    { "h-96! md:h-112!": index % 2 === 0 },
                    { "h-80! md:h-96!": index % 2 !== 0 },
                  ]}
                  src={item}
                  alt="Image"
                />
              </div>
            ))}
            {list.map((item, index) => (
              <div
                class:list={[
                  "max-h-full min-w-(--marquee-element-width-responsive) px-4 md:min-w-(--marquee-element-width)",
                ]}
                aria-hidden="true">
                <OptimizedImage
                  class:list={[
                    "max-h-full! w-full object-cover",
                    { "h-80! md:h-96!": index % 2 === 0 },
                    { "h-96! md:h-112!": index % 2 !== 0 },
                  ]}
                  src={item}
                  alt="Image"
                />
              </div>
            ))}
          </Marquee>
        </div>
      )}
    </section>
  )
}
