---
import type { Section } from "@/types";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import OptimizedImage from "../utilities/OptimizedImage.astro";
import CustomButton from "../CustomButton.astro";

type OfficeInfo = {
  enable: boolean; // Determines if the content and/or image are displayed
  title: string; // Title of the office (e.g., "Headquarters")
  image: string; // Path to the image; empty string if no image
  backgroundImage: string; // Path to the background image
  content: string; // Multi-line string containing address, phone, email, etc.
};

// Type for service section data
export type sectionType = Section & {
  list: OfficeInfo[];
};
type Props = {
  content?: sectionType;
};

// Fetching the default content for the service section
let defaultContent = (
  await getEntryCTM("sections", "office-locations", Astro.currentLocale)
)?.data as sectionType;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = {
  ...defaultContent,
  ...Astro.props.content,
} as sectionType;

// Extracting required values from 'content' object
let { title, enable, button, subtitle, list } =
  actualContent as sectionType;
---

{
  enable && (
    <section>
      <div class="container">
        <div class:list={["flex flex-col justify-start gap-12 md:gap-16"]}>
          <div class="flex flex-col flex-wrap justify-between gap-8 lg:flex-row lg:items-center">
            <div class="shrink-0 lg:lg:max-w-2xl" data-aos="fade-up-sm">
              {subtitle && (
                <span
                  class:list={[
                    "bg-primary/5 border-secondary text-primary mb-2.5 inline-block rounded-full border px-5 py-px",
                  ]}
                  set:html={markdownify(subtitle)}
                />
              )}
              {title && (
                <h2
                  class:list={["text-h3 text-dark"]}
                  set:html={markdownify(title)}
                />
              )}
            </div>
            {button?.enable && (
              <div data-aos="fade-up-sm" data-aos-delay="200">
                <CustomButton {...button} />
              </div>
            )}
          </div>
          <div class="grid gap-6 lg:grid-cols-2 lg:grid-rows-2">
            {list &&
              list.length > 0 &&
              list.map((item, index) => (
                <div
                  class:list={[
                    "relative h-full min-h-full",
                    {
                      "after:bg-primary/75 after:absolute after:inset-0 after:size-full":
                        item.enable,
                    },
                    {
                      "md:row-span-2": index === 0,
                    },
                  ]}
                  data-aos="fade-up-sm"
                  data-aos-offset="0"
                  data-aos-delay={((index % 3) + 1) * 50}>
                  {/* background image */}
                  <OptimizedImage
                    width={600}
                    class:list={[
                      "h-full! min-h-full w-full! max-w-full! object-cover",
                      {
                        "absolute inset-0": item.enable,
                      },
                    ]}
                    src={item.backgroundImage}
                    alt={item.title + " office image"}
                  />

                  {/* Content */}
                  {item.enable && (
                    <div class="relative z-10 space-y-5 p-6 md:p-8">
                      {item.title && (
                        <h3 class="text-white" set:html={item.title} />
                      )}
                      {item.content && (
                        <div
                          class="prose-styles prose-a:hover:text-white prose-p:mb-0 prose-p:mt-1.5 **:text-white"
                          set:html={markdownify(item.content, true)}
                        />
                      )}
                      {item.image && (
                        <OptimizedImage
                          class="h-72! max-h-full w-full max-w-full! object-cover pt-5"
                          width={600}
                          height={300}
                          src={item.image}
                          alt={item.title + " office image"}
                        />
                      )}
                    </div>
                  )}
                </div>
              ))}
          </div>
        </div>
      </div>
    </section>
  )
}
