---
import Marquee from "@/components/widgets/Marquee.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import type { Section } from "@/types";
import { markdownify } from "@/lib/utils/textConverter";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import TestimonialCard from "@/layouts/components/cards/TestimonialCard.astro";
import CustomButton from "../CustomButton.astro";
import type { marqueeConfig } from "@/content.config";
import type { TypeOf } from "astro:schema";

// Type for this section data
export type sectionType = Section & {
  marquee: TypeOf<typeof marqueeConfig>;
  list: {
    enable: boolean;
    rating: number;
    content: string;
    source: {
      logo: string;
      url: string;
    };
    customer: {
      image: string;
      name: string;
      role: string;
      company: {
        logo: string;
        name: string;
      };
    };
  }[];
};
type Props = {
  content?: sectionType;
};

// Fetching the default content for the this section
let defaultContent = (
  await getEntryCTM("sections", "testimonial-section", Astro.currentLocale)
)?.data as sectionType;

// Enables content customization (e.g., title, description) with a fallback to 'defaultContent' if not provided.
// The 'content' prop should match the structure of 'defaultContent'.
// Allows using this section with different content across multiple pages.
// If 'content' is missing, 'defaultContent' will be used.
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as sectionType;

// Extracting required values from 'content' object
let {
  enable = true,
  title,
  subtitle,
  button,
  list,
  marquee,
} = actualContent as sectionType;
---

{
  enable && (
    <section class="overflow-hidden">
      <div class="bg-theme-light py-16 md:py-28">
        <div class="container overflow-x-hidden">
          <div
            data-aos="fade-right-sm"
            class="flex flex-wrap items-center justify-between gap-6 lg:flex-nowrap">
            <div class="lg:max-w-2xl">
              {subtitle && (
                <span
                  class="bg-primary/5 border-secondary text-primary mb-2.5 inline-block rounded-full border px-5 py-px"
                  set:html={markdownify(subtitle)}
                />
              )}
              {title && (
                <h2
                  class="text-h3 text-inherit"
                  set:html={markdownify(title)}
                />
              )}
            </div>
            {button && button.enable && (
              <div data-aos="fade-right-sm" data-aos-delay="200">
                <CustomButton {...button} />
              </div>
            )}
          </div>
        </div>
        <div class="relative" data-aos="fade-up-sm" data-aos-delay="300">
          <div
            class="testimonial-gradient-bg [--accent-color:--color-accent]"
            aria-hidden="true"
          />
          <div class="relative mt-12 flex overflow-x-hidden md:mt-16">
            <Marquee
              class="items-stretch"
              marqueeElements={list.length}
              {...marquee}>
              {list.map((item) => (
                <div class="min-w-(--marquee-element-width-responsive) px-4 md:min-w-(--marquee-element-width)">
                  <TestimonialCard class="min-h-full" content={item} />
                </div>
              ))}
              {list.map((item) => (
                <div
                  class="min-w-(--marquee-element-width-responsive) px-4 md:min-w-(--marquee-element-width)"
                  aria-hidden="true">
                  <TestimonialCard class="min-h-full" content={item} />
                </div>
              ))}
            </Marquee>
          </div>
        </div>
      </div>
    </section>
  )
}
