---
import { getEntryCTM } from "@/lib/contentParser.astro";
import OptimizedImage from "../utilities/OptimizedImage.astro";
import { toSentenceCase } from "@/lib/utils/textConverter";
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils.ts";
import CustomButton from "../CustomButton.astro";

interface Props {
  class?: string;
}

const contentEntry = await getEntryCTM(
  "widgets",
  "cta-block",
  Astro.currentLocale,
);

const { class: className } = Astro.props;
const {
  enable,
  title,
  description,
  button,
  image,
  imageOverlay,
  contentBgShape,
} = contentEntry?.data || {};
---

{
  enable && (
    <div class:list={[className]}>
      {image && (
        <div class="relative">
          <OptimizedImage
            src={image}
            class="h-60 w-full object-cover"
            alt={toSentenceCase("Image related to " + title)}
          />
          <OptimizedImage
            src={imageOverlay}
            class="absolute inset-0 h-full! w-full object-cover"
            alt={"shape"}
          />
        </div>
      )}
      <div class="bg-primary relative px-4 pt-5 pb-6 text-white">
        <div class="relative z-10 space-y-6">
          {title && <h3 class="text-h4 text-inherit">{title}</h3>}
          {description && <p class="text-inherit">{description}</p>}
          {button && (
            <CustomButton
              class="border-white! text-white"
              url={getLocaleUrlCTM(button.url, Astro.currentLocale)}
              {...button}
            />
          )}
        </div>

        <OptimizedImage
          src={contentBgShape}
          class="absolute inset-0 h-full! max-h-full! w-full max-w-full! object-cover"
          alt={"shape"}
        />
      </div>
    </div>
  )
}
