---
import {
  getAlternateLocaleLinks,
  getLocaleUrlCTM,
} from "@/lib/utils/i18nUtils";
import { plainify, removeWhitespace } from "@/lib/utils/textConverter";
import config from ".astro/config.generated.json" with { type: "json" };

// Load the configuration
let {
  title,
  metaTitle,
  description,
  metaDescription,
  canonical,
  keywords = config.seo.keywords,
  disableTagline,
  author = config.seo.author,
  robots = config.seo.robots,
  localeUrls,
} = Astro.props;

title = plainify(metaTitle ? metaTitle : title ? title : config.site.title);
keywords = keywords.join(", ");

// Add tagline & separator to title
if (!disableTagline) {
  title =
    title +
    (config.site.tagline &&
      (config.site.taglineSeparator || " - ") + config.site.tagline);
}

description = plainify(
  metaDescription
    ? metaDescription
    : description
      ? description
      : config.site.description,
);

canonical =
  localeUrls?.[Astro.currentLocale || "it"] ||
  getLocaleUrlCTM(new URL(Astro.url.href, Astro.site).href, Astro.currentLocale);

const alternateTags = localeUrls
  ? Object.entries(localeUrls).map(([hreflang, href]) => ({
      hreflang,
      href: String(href),
    }))
  : getAlternateLocaleLinks(Astro.url.pathname);
---

{title && <title>{removeWhitespace(title)}</title>}
{
  description && (
    <meta name="description" content={removeWhitespace(description)} />
  )
}
{keywords && <meta name="keywords" content={removeWhitespace(keywords)} />}
{author && <meta name="author" content={removeWhitespace(author)} />}
{robots && <meta name="robots" content={removeWhitespace(robots)} />}
{canonical && <link rel="canonical" href={canonical} item-prop="url" />}
{
  alternateTags &&
    alternateTags.map((tag) => (
      <link rel="alternate" hreflang={tag.hreflang} href={tag.href} />
    ))
}
