---
import dateFormat from "@/lib/utils/dateFormat";
import {
  humanize,
  plainify,
  slugifyyy,
  toSentenceCase,
} from "@/lib/utils/textConverter";
import type { ContentListType } from "@/types";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import config from ".astro/config.generated.json" assert { type: "json" };
import Social from "@/components/social/Social.astro";
import socialData from "@/config/social.json";
import { getEntryCTM } from "@/lib/contentParser.astro";
import { getLocaleUrlCTM, useTranslations } from "@/lib/utils/i18nUtils.ts";
import Icons from "@/helpers/Icons.astro";
import CustomButton from "../CustomButton.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  content: CollectionEntry<"blog">;
  class?: string;
  options?: ContentListType;
}

const t = await useTranslations(Astro.currentLocale as string);

const { blogFolder } = config.settings;

let { content, options, class: className, ...rest } = Astro.props;
let { title, description, image, author, date, categories } = content.data;

// Get author information
let authorEntry;
if (author) {
  authorEntry = (
    await getEntryCTM("author", slugifyyy(author || ""), Astro.currentLocale)
  )?.data;
}

// Set default blog card layout if not provided
options = {
  ...options,
  card: {
    ...options?.card,
    layout: options?.card?.layout || "classic",
  },
};

// Format categories
const categoriesArray = categories?.map((category: string) => ({
  name: category,
  slug: slugifyyy(category),
}));

let slug = getLocaleUrlCTM(content.id, Astro.currentLocale, content.collection);
---

{
  options?.card.layout === "horizontal" ? (
    <article class:list={["grid gap-4 xl:grid-cols-5", className]} {...rest}>
      <div class="after:from-primary after:via-primary/40 group relative flex items-center justify-center overflow-hidden via-20% to-transparent after:pointer-events-none after:absolute after:inset-0 after:z-10 after:bg-linear-to-t after:transition-opacity after:duration-500 after:md:opacity-0 hover:md:after:opacity-100 xl:col-span-2">
        <span class="bg-primary pointer-events-none absolute z-20 flex h-10 w-10 items-center justify-center rounded-full text-white transition duration-500 md:opacity-0 group-hover:md:opacity-100">
          <Icons icon="ArrowUpRight" class="h-6 w-6" />
        </span>
        {image && (
          <OptimizedImage
            src={image}
            alt={toSentenceCase("Image about " + title)}
            class="h-56! max-h-full! min-w-full! object-cover transition duration-500 group-hover:scale-105 md:h-60! lg:h-32! xl:h-20!"
            width={480}
            height={220}
          />
        )}
        <a
          class="absolute inset-0 z-30"
          href={slug}
          title={toSentenceCase(t("common.learnMoreAbout") + " " + title)}
        />
      </div>
      <div class="flex flex-col xl:col-span-3">
        {title && (
          <h3 class="text-dark mb-2 text-sm font-medium">
            <a
              class="stretched-link text-inherit"
              href={slug}
              set:html={plainify(title)}
            />
          </h3>
        )}
        <span class="text-xs">{date && dateFormat(date)}</span>
      </div>
    </article>
  ) : options?.card.layout === "classic" ? (
    <article class:list={[className, "bg-white"]} {...rest}>
      <div class="group after:from-primary after:via-primary/40 relative flex items-center justify-center overflow-hidden via-20% to-transparent after:pointer-events-none after:absolute after:inset-0 after:z-10 after:bg-linear-to-t after:transition-opacity after:duration-500 after:md:opacity-0 hover:md:after:opacity-100">
        <span class="bg-primary pointer-events-none absolute z-20 flex h-16 w-16 items-center justify-center rounded-full text-white transition duration-500 md:opacity-0 group-hover:md:opacity-100">
          <Icons icon="ArrowUpRight" class="h-6 w-6 text-white" />
        </span>
        {image && (
          <OptimizedImage
            src={image}
            alt={toSentenceCase("Image related to " + title)}
            class="h-62.5! min-w-full object-cover transition duration-500 group-hover:scale-105"
            width={600}
            height={600}
          />
        )}
        <a
          class="absolute inset-0 z-30"
          href={slug}
          title={toSentenceCase("Image about " + title)}
        />
      </div>
      <div>
        <div class="font-primary mt-6 mb-2 flex flex-wrap items-center gap-x-2.5 gap-y-px border-b pb-3 text-sm">
          <span>{date && dateFormat(date)}</span>
          <span class="bg-primary inline-block h-0.75 w-0.75 rounded-full" />

          {categoriesArray &&
            categoriesArray.map((category: any, index: number) => (
              <>
                <span class="text-inherit">{humanize(category.name)}</span>
                {index !== categoriesArray.length - 1 && (
                  <span class="bg-primary inline-block h-0.75 w-0.75 rounded-full" />
                )}
              </>
            ))}
        </div>
        {title && <h2 class="text-h5 mt-2 mb-4" set:html={plainify(title)} />}
        <CustomButton
          variant="text"
          label={t("common.readMore")}
          url={slug}
          class="text-base-sm capitalize md:text-base"
        />
      </div>
    </article>
  ) : options?.card.layout === "modern" ? (
    <article
      class="relative mb-[4%] pt-36 pb-[4%] last:mb-0 md:pt-72"
      {...rest}>
      {image && (
        <OptimizedImage
          src={image}
          alt={toSentenceCase("Image about " + title)}
          class="absolute top-0 left-0 h-full min-h-full w-full object-cover"
          width={810}
          height={512}
        />
      )}
      <div class="box-shadow-primary relative z-10 mx-[4%] bg-white/95 p-4 sm:p-8">
        <div class="text-primary mb-2 flex flex-wrap items-center gap-x-2.5 gap-y-px text-sm">
          <span>{date && dateFormat(date)}</span>
          <span class="bg-primary inline-block h-0.75 w-0.75 rounded-full" />
          {categoriesArray &&
            categoriesArray.map((category: any, index: number) => (
              <>
                <a
                  href={getLocaleUrlCTM(
                    `/${blogFolder}/category/${category.slug}`,
                    Astro.currentLocale,
                  )}
                  class="text-inherit">
                  {humanize(category.name)}
                </a>
                {index !== categoriesArray.length - 1 && (
                  <span class="bg-primary inline-block h-0.75 w-0.75 rounded-full" />
                )}
              </>
            ))}
        </div>
        {title && (
          <h2 class="text-h4 md:text-h5 mb-5">
            <a
              class="stretched-link text-inherit"
              href={slug}
              set:html={plainify(title)}
            />
          </h2>
        )}
        <div class="flex flex-wrap-reverse justify-between gap-x-8 gap-y-6">
          {author && (
            <div class="flex items-center gap-4">
              <OptimizedImage
                alt={author}
                src={authorEntry.image}
                width={40}
                height={40}
                class="border-dark/15 h-10 w-10 rounded-full border-2"
              />
              <span set:html={"By " + author} />
            </div>
          )}
          <Social
            slug={slug}
            title={title}
            layout="minimal"
            linkType="share"
            class="opacity-70"
            disabled={["instagram"]}
            list={socialData.main}
            description={description}
          />
        </div>
      </div>
    </article>
  ) : null
}
