---
import { markdownify } from "@/lib/utils/textConverter";
import { getLocaleUrlCTM } from "@/lib/utils/i18nUtils.ts";
import type { CollectionEntry } from "astro:content";
import CustomButton from "../CustomButton.astro";
import { useTranslations } from "@/lib/utils/i18nUtils";

interface Props {
  content: CollectionEntry<"career">["data"] & {
    title: string;
    slug: string;
    description: string;
    categories: string[];
    type: string;
    location: string;
    deadline: string;
  };
}

const { content, ...rest } = Astro.props;
let { title, slug, categories, type, location } = content;

const t = await useTranslations(Astro.currentLocale as string);
slug = getLocaleUrlCTM(slug, Astro.currentLocale, content.collection);
---

<div
  class:list={[
    "flex flex-col items-start justify-between gap-6 border px-8 py-10",
  ]}
  {...rest}>
  <div class="space-y-4">
    {
      categories && categories.length > 0 && (
        <ul class="mb-3 flex gap-2">
          {categories.map((category: string) => (
            <li class="inline-block" set:html={markdownify(category)} />
          ))}
        </ul>
      )
    }
    {title && <h3 class="text-h5 mb-3" set:html={markdownify(title)} />}
  </div>
  <div
    class="has-list has-list-slash [&>span:not(:last-child)]:after:bg-dark/25 flex gap-2 text-sm opacity-70">
    {type && <span set:html={markdownify(type)} />}
    {location && <span set:html={markdownify(location)} />}
  </div>
  <CustomButton
    variant="text"
    label={t("common.viewMoreDetails")}
    url={slug}
    class="text-base-sm capitalize md:text-base"
  />
</div>
